@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/papertexture.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 1px; }

img, button {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h3 {
  margin-bottom: 2rem; }

.wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 30vh; }
  .wrapper h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem; }
  @media screen and (min-width: 700px) {
    .wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: space-between;
      -ms-flex-align: space-between;
      align-items: space-between; } }
  @media screen and (min-width: 1200px) {
    .wrapper {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: space-between;
      -ms-flex-align: space-between;
      align-items: space-between; } }

.portrait_wrapper {
  margin-bottom: 1rem;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 2px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 2px 2px 4px rgba(26, 26, 26, 0.3);
  padding: 0.5rem; }
  @media screen and (min-width: 700px) {
    .portrait_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 49.5%;
      height: 50%; } }
  @media screen and (min-width: 1200px) {
    .portrait_wrapper {
      width: 33%;
      height: 33%; } }

.portrait {
  width: 100%;
  height: 100%; }

.background_portrait {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60vh;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125% 100%;
  -webkit-filter: blur(2px) grayscale(100%);
  filter: blur(2px) grayscale(100%); }

.stats_basic_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  @media screen and (min-width: 700px) {
    .stats_basic_wrapper {
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    .stats_basic_wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.stats_wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem; }
  @media screen and (min-width: 1200px) {
    .stats_wrapper {
      margin: 0; } }

.basic_wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem; }
  @media screen and (min-width: 1200px) {
    .basic_wrapper {
      margin: 0; } }

.basic-info_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .basic-info_wrapper h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%; }
  .basic-info_wrapper table {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
    .basic-info_wrapper table td {
      padding: 0 1rem; }
  @media screen and (min-width: 700px) {
    .basic-info_wrapper {
      width: 40%; } }
  @media screen and (min-width: 1200px) {
    .basic-info_wrapper {
      width: 25%; } }

.body_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6;
  text-align: center;
  height: 100%; }
  .body_wrapper b {
    display: inline-block;
    margin: 1rem; }
  @media screen and (min-width: 700px) {
    .body_wrapper {
      width: 49.5%; } }
  @media screen and (min-width: 1200px) {
    .body_wrapper {
      width: 33%; } }

.body_table {
  width: 100%;
  text-align: left;
  text-align: center;
  border-collapse: collapse; }
  .body_table tbody tr:nth-child(even) {
    background-color: rgba(102, 102, 102, 0.3); }
  .body_table td {
    padding: 0.5rem; }

.attack_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .attack_wrapper h3 {
    width: 100%; }
  @media screen and (min-width: 700px) {
    .attack_wrapper {
      width: 33%;
      height: 30%; } }
  @media screen and (min-width: 1200px) {
    .attack_wrapper {
      width: 33%; } }

.attack_table {
  width: 100%;
  text-align: center; }
  .attack_table td {
    width: 50%; }

.skills_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6; }
  .skills_wrapper h3 {
    text-align: center;
    margin-bottom: 2rem; }
  @media screen and (min-width: 700px) {
    .skills_wrapper {
      width: 66%; } }
  @media screen and (min-width: 1200px) {
    .skills_wrapper {
      width: 33%; } }

.skills_table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse; }
  .skills_table tbody tr:first-child {
    padding: 2rem 0; }
  .skills_table tbody tr:nth-child(even) {
    background-color: rgba(102, 102, 102, 0.3); }
  .skills_table td {
    padding: 0.5rem; }

.abilities_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6;
  text-align: center; }
  .abilities_wrapper h3 {
    margin: 1rem 0; }
  @media screen and (min-width: 1200px) {
    .abilities_wrapper {
      width: 49.5%; } }

.ability {
  text-align: justify;
  margin: 2rem; }
  .ability h3 {
    margin: 1rem 0;
    text-align: left; }

.description_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.3);
  border-top: 2px solid #e6e6e6;
  text-align: center; }
  .description_wrapper h3 {
    margin: 1rem 0; }
  .description_wrapper p {
    margin: 2rem;
    text-align: justify; }
  @media screen and (min-width: 1200px) {
    .description_wrapper {
      width: 49.5%; } }

.side-bar {
  position: fixed;
  background-color: #1a1a1a;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }
  .side-bar h3 {
    margin: 0; }
  .side-bar ul {
    list-style-type: none;
    font-size: 1.2rem; }
  .side-bar li {
    cursor: pointer; }
    .side-bar li:hover {
      background-color: #333333; }
  @media screen and (min-width: 700px) {
    .side-bar {
      width: 30%; } }
  @media screen and (min-width: 1200px) {
    .side-bar {
      width: 15%; } }

.side-bar_active {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.side-bar_list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  height: 70%;
  width: 90%;
  overflow-y: scroll; }
  .side-bar_list-container::-webkit-scrollbar {
    display: none; }

.side-bar_label {
  text-decoration: underline;
  text-transform: uppercase; }

.side-bar_button {
  display: block;
  z-index: 100;
  position: fixed;
  top: 2%;
  right: 2%;
  background: none;
  border: none;
  color: #1a1a1a;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
  cursor: pointer; }
  .side-bar_button img {
    width: 40px;
    height: 40px; }

.side-bar_button-active {
  -webkit-transform: rotateZ(0);
  -ms-transform: rotate(0);
  transform: rotateZ(0);
  color: white; }

.search-bar {
  margin: 0 0 2rem 0; }

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }
