@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/papertexture.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 1px; }
  @media screen and (min-width: 700px) {
    body {
      font-size: 1.1rem; } }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 1.2rem; } }

img, button {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 30vh; }
  @media screen and (min-width: 700px) {
    .wrapper {
      width: 80%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: space-between;
      -ms-flex-align: space-between;
      align-items: space-between; } }
  @media screen and (min-width: 1200px) {
    .wrapper {
      width: 70%; } }

.wrapper_content {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  -webkit-box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.4);
  box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.4);
  border-top: 2px solid #e6e6e6; }
  @media screen and (min-width: 1200px) {
    .wrapper_content {
      font-size: 1.2rem; } }

.wrapper_header {
  text-align: center;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.4);
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 1rem; }

.monster_name {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem; }
  @media screen and (min-width: 700px) {
    .monster_name {
      position: relative;
      top: 4rem;
      left: 2rem;
      width: 50%;
      -ms-flex-item-align: center;
      align-self: center;
      text-align: left;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-shadow: 0px 0px 10px #e6e6e6; } }
  @media screen and (min-width: 1200px) {
    .monster_name {
      position: absolute;
      left: 40%;
      top: 35%; } }

.portrait_wrapper {
  margin-bottom: 1rem;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 2px 4px rgba(26, 26, 26, 0.4);
  box-shadow: 2px 2px 4px rgba(26, 26, 26, 0.4);
  padding: 0.5rem; }
  @media screen and (min-width: 700px) {
    .portrait_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 49.5%;
      height: 50%; } }
  @media screen and (min-width: 1200px) {
    .portrait_wrapper {
      width: 33%;
      height: 33%; } }

.portrait {
  width: 100%;
  height: 100%; }

.background_portrait {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60vh;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-filter: blur(2px) grayscale(100%);
  filter: blur(2px) grayscale(100%); }

.stats {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }
  @media screen and (min-width: 700px) {
    .stats {
      height: 20%;
      position: relative; } }
  @media screen and (min-width: 1200px) {
    .stats {
      width: 66%;
      -ms-flex-item-align: end;
      align-self: flex-end; } }

.stats_table {
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center; }
  @media screen and (max-width: 700px) {
    .stats_table * {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
    .stats_table tr {
      margin: 0 auto;
      width: 100%; }
    .stats_table td {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      width: 50%; } }
  @media screen and (min-width: 700px) {
    .stats_table {
      width: 90%; } }

.basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .basic-info table {
    width: 100%;
    text-align: center; }
    .basic-info table td {
      width: 50%; }
    .basic-info table th {
      padding-top: 0.5rem; }
  @media screen and (min-width: 700px) {
    .basic-info {
      width: 49%;
      height: 100%; } }
  @media screen and (min-width: 1200px) {
    .basic-info {
      width: 33%; } }

.body {
  text-align: center; }
  .body b {
    display: inline-block;
    margin: 1rem; }
  @media screen and (min-width: 700px) {
    .body {
      width: 49%; } }
  @media screen and (min-width: 1200px) {
    .body {
      width: 33%;
      height: 100%; } }

.body_table {
  border-collapse: collapse;
  margin: 0 auto; }
  .body_table thead {
    border-bottom: 1px solid rgba(26, 26, 26, 0.4); }
  .body_table tbody tr:nth-child(even) {
    background-color: rgba(102, 102, 102, 0.4); }
  .body_table td {
    padding: 0.5rem; }

@media screen and (min-width: 700px) {
  .attack {
    width: 45%;
    height: 30%;
    position: relative; } }

@media screen and (min-width: 1200px) {
  .attack {
    width: 33%;
    height: 100%; } }

.attack_table {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse; }
  .attack_table thead {
    text-align: center;
    border-bottom: 1px solid rgba(26, 26, 26, 0.4); }
  .attack_table tbody tr:first-child {
    padding: 2rem 0; }
  .attack_table tbody tr:nth-child(even) {
    background-color: rgba(102, 102, 102, 0.4); }
  .attack_table td {
    padding: 0.5rem; }
  .attack_table td:nth-child(even) {
    border-left: 1px solid rgba(26, 26, 26, 0.4); }

@media screen and (min-width: 700px) {
  .skills {
    width: 54%; } }

@media screen and (min-width: 1200px) {
  .skills {
    width: 100%;
    height: 100%; } }

.skills_table {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse; }
  .skills_table thead {
    text-align: center;
    border-bottom: 1px solid rgba(26, 26, 26, 0.4); }
  .skills_table tbody tr:first-child {
    padding: 2rem 0; }
  .skills_table tbody tr:nth-child(even) {
    background-color: rgba(102, 102, 102, 0.4); }
  .skills_table td {
    padding: 0.5rem; }
  .skills_table td:nth-child(even) {
    border-left: 1px solid rgba(26, 26, 26, 0.4); }
  @media screen and (min-width: 1200px) {
    .skills_table {
      width: 50%; } }

@media screen and (min-width: 1200px) {
  .abilities {
    width: 49.5%; } }

@media screen and (min-width: 1200px) {
  .abilities {
    width: 49.5%;
    height: 100%; } }

.ability {
  text-align: justify;
  margin: 2rem auto; }
  .ability h3 {
    margin-top: 1rem;
    text-align: left;
    text-decoration: underline; }
  @media screen and (min-width: 700px) {
    .ability {
      width: 60%; } }

.description p {
  margin: 2rem auto;
  text-align: justify; }
  @media screen and (min-width: 700px) {
    .description p {
      width: 60%; } }

@media screen and (min-width: 1200px) {
  .description {
    width: 49%; } }

.side-bar {
  position: fixed;
  background-color: #1a1a1a;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  z-index: 50; }
  .side-bar h3 {
    margin: 0; }
  .side-bar ul {
    list-style-type: none;
    font-size: 1.2rem; }
  .side-bar li {
    cursor: pointer; }
    .side-bar li:hover {
      background-color: #333333; }
  @media screen and (min-width: 700px) {
    .side-bar {
      width: 30%; } }
  @media screen and (min-width: 1200px) {
    .side-bar {
      width: 15%; } }

.side-bar_active {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.side-bar_list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  height: 70%;
  width: 90%;
  overflow-y: scroll; }
  .side-bar_list-container::-webkit-scrollbar {
    display: none; }

.side-bar_label {
  text-decoration: underline;
  text-transform: uppercase; }

.side-bar_button {
  display: block;
  z-index: 100;
  position: fixed;
  top: 2%;
  right: 2%;
  background: none;
  border: none;
  color: #1a1a1a;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
  cursor: pointer; }
  .side-bar_button img {
    width: 40px;
    height: 40px; }

.side-bar_button-active {
  -webkit-transform: rotateZ(0);
  -ms-transform: rotate(0);
  transform: rotateZ(0);
  color: white; }

.search-bar {
  margin: 0 0 2rem 0; }

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }
