.abilities_wrapper {
  @include box;
  text-align: center;

  h3 {
    margin: $medium 0;
  }

  @media screen and (min-width: $desktop) {
    width: 49.5%;
  }
}

.ability {
  //@include box;
  text-align: justify;

  h3 {
    margin: $medium 0;
  }
}
