.abilities {

  @media screen and (min-width: $desktop) {
    width: 49.5%;
  }

  @media screen and (min-width: $desktop) {
    width: 49.5%;
    height: 100%;
  }
}

.ability {
  text-align: justify;
  margin: $large auto;

  h3 {
    margin-top: $medium;
    text-align: left;
    text-decoration: underline;
  }

  @media screen and (min-width: $tablet) {
    width: 60%;
  }


}
