.attack {

  @media screen and (min-width: $tablet) {
    width: 45%;
    height: 30%;
    position: relative;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
    height: 100%;
    //align-self: flex-end;
  }
}

.attack_table {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;

  thead {
    text-align: center;
    border-bottom: 1px solid $color-black-transparent;
  }

  tbody tr:first-child {
    padding: $large 0;
  }

  tbody tr:nth-child(even) {
    background-color: lighten($color-black-transparent, 30%);
  }

  td {
    padding: $small;
  }

  td:nth-child(even) {
    border-left: 1px solid $color-black-transparent;
  }
}
