.basic-info {
  display: flex;
  flex-flow: row wrap;

  table {
    width: 100%;
    text-align: center;

    td {
      width: 50%;
    }

    tr:nth-child(even) {
    }
  }

  @media screen and (min-width: $tablet) {
    width: 40%;
  }

  @media screen and (min-width: $desktop) {
    width: 25%;
  }
}
