.body_wrapper {
  @include box;
  text-align: center;
  height: 100%;

  b {
    display: inline-block;
    margin: $medium;
  }

  @media screen and (min-width: $tablet) {
    width: 49.5%;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
  }
}

.body_table {
  width: 100%;
  text-align: left;
  text-align: center;
  border-collapse: collapse;

  tbody tr:nth-child(even) {
    background-color: lighten($color-black-transparent, 30%);
  }

  td {
    padding: $small;
  }
}
