.body {
  text-align: center;

  b {
    display: inline-block;
    margin: $medium;
  }

  @media screen and (min-width: $tablet) {
    width: 49.5%;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
  }
}

.body_table {
  border-collapse: collapse;
  margin: 0 auto;

  tbody tr:nth-child(even) {
    background-color: lighten($color-black-transparent, 30%);
  }

  td {
    padding: $small;
  }
}
