.body_wrapper {
  @include box;
  text-align: center;

  b {
    display: inline-block;
    margin: $medium;
  }

  @media screen and (min-width: $tablet) {
    width: 49.5%;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
  }
}

.body_table {
  width: 100%;
  text-align: left;
}
