.description {

  p {
    margin: $large auto;
    text-align: justify;

    @media screen and (min-width: $tablet) {
      width: 60%;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
  }
}
