.description_wrapper {
  @include box;
  text-align: center;

  h3 {
    margin: $medium 0;
  }

  p {
    @include box;
    text-align: justify;
  }

  @media screen and (min-width: $desktop) {
    width: 49.5%;
  }
}
