.portrait_wrapper {
  margin-bottom: $medium;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 4px $color-black-transparent;
  padding: $small;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    width: 49.5%;
    height: 50%;
  }
/*
  @media screen and (min-width: $desktop) {
    width: 33%;
    height: 33%;
  }*/
}

.portrait {
  width: 100%;
  height: 100%;
}

.background_portrait {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60vh;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-filter: blur(2px) grayscale(100%);
  filter: blur(2px) grayscale(100%);
}
