@import url('https://fonts.googleapis.com/css?family=Delius');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Delius', cursive;
  background-image: url("../images/paper-texture.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
