@import url('https://fonts.googleapis.com/css?family=Delius');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Delius', cursive;
  background-image: url("../images/papertexture.jpg");
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

img, button {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
