.search_wrapper{
  //position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: $large;

  input {
    height: $large;
  }

  @media screen and (min-width: $desktop) {
  }
}

.result-bar {
  position: absolute;
  display: block;
  position: relative;
  background: white;

  ul {
    max-height: 30vh;
    overflow-y: scroll;
      width: inherit;
  }

  ul li {
    display: block;
    width: 100%;
  }
}

.hide-result {
  display: none;
}
