.side-bar {
  position: fixed;
  background-color: $color-black;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .2s ease-out;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 50;

  h3 {
    margin: 0;
  }

  ul {
    list-style-type: none;
    font-size: 1.2rem;
  }

  figcaption, figure, ul {
  }

  li {
    cursor: pointer;

    &:hover {
      background-color: lighten($color-black, 10%);
    }
  }

  @media screen and (min-width: $tablet) {
    width: 30%;
  }

  @media screen and (min-width: $desktop) {
    width: 15%;
  }
}

.side-bar_active {
  transform: scaleX(1);
}

.side-bar_list-container {
  display: flex;
  justify-content: center;
  align-items: space-around;
  height: 70%;
  width: 90%;
  overflow-y: scroll;

  // hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
}

.side-bar_label {
  text-decoration: underline;
  text-transform: uppercase;
}

.side-bar_button {
  display: block;
  z-index: 100;
  position: fixed;
  top: 2%;
  right: 2%;
  background: none;
  border: none;
  color: $color-black;
  transition: .2s ease-in-out;
  transform: rotateZ(180deg);
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
  }
}

.side-bar_button-active {
  transform: rotateZ(0);
  color: white;
}

.search-bar {
  margin:0 0 $large 0;
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
