.skills_wrapper {
  @include box;

  h3 {
    text-align: center;
    margin-bottom: $large;
  }

  @media screen and (min-width: $tablet) {
    width: 66%;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
  }
}

.skills_table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse;

  tbody tr:first-child {
    padding: $large 0;
  }

  tbody tr:nth-child(even) {
    background-color: lighten($color-black-transparent, 30%);
  }

  td {
    padding: $small;
  }
}
