.skills_wrapper {
  @include box;

  h3 {
    text-align: center;
    margin-bottom: $small;
  }

  @media screen and (min-width: $tablet) {
    width: 66%;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
  }
}

.skills_table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse;

  tbody tr:nth-child(even) {
    background-color: $color-black-transparent;
  }

  td {
    padding: $small;
  }
}
