.skills_wrapper {
  @include box;

  h3 {
    text-align: center;
    margin-bottom: $small;
  }

  @media screen and (min-width: $tablet) {
    width: 66%;
  }

  @media screen and (min-width: $desktop) {
    width: 33%;
  }
}

.skills_table {
  width: 100%;
  text-align: justify;
}
