.stats {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 100%;


  @media screen and (min-width: $tablet) {
    width: 50%;
  }

  @media screen and (min-width: $desktop) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.stats_table {

}
