.stats {
  justify-content: center;
  display: flex;
  flex-flow: column;


  @media screen and (min-width: $tablet) {
    height: 20%;
    position: relative;
  }
/*
  @media screen and (min-width: $desktop) {
    width: 66%;
    align-self: flex-end;
  }*/
}

.stats_table {
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;

  @media screen and (max-width: $tablet) {
    * {
      display: flex;
      flex-flow: row wrap;
    }

    tr {
      margin: 0 auto;
      width: 100%;
    }

    td {
      flex-flow: column wrap;
      width: 50%;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 90%;
  }
}
