.wrapper {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 30vh;


  @media screen and (min-width: $tablet) {
    width: 80%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
  }

  @media screen and (min-width: $desktop) {
    width: 70%;
  }
}

.wrapper_content {
  @include box();
}

.wrapper_header {
  text-align: center;
  width: 100%;
  background-color: $color-black-transparent;
  margin: 0;
  margin-bottom: $small;
  padding: 1rem;
}


.monster_name {
  text-align: center;
  width: 100%;
  margin-bottom: $large;

  @media screen and (min-width: $tablet) {
    position: relative;
    top: $large*2;
    left: $large;
    width: 50%;
    align-self: center;
    text-align: left;
    justify-content: flex-start;
    text-shadow: 0px 0px 10px $color-white;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    left: 40%;
    top: 50%;
  }
}
