.wrapper {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 30vh;

  h1 {
    text-align: center;
    width: 100%;
    margin-bottom: $large;
  }

  @media screen and (min-width: $tablet) {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-around;
    align-items: space-between;
  }
}

.wrapper_content {
  @include box();
}

.wrapper_header {
  text-align: center;
  width: 100%;
  background-color: $color-black-transparent;
  margin: 0;
  margin-bottom: $small;
  padding: 1rem;
}
