@mixin box() {
  background-color: $color-white-transparent;
  padding: $medium;
  margin-bottom: $medium;
  font-size: 1.2rem;
  width: 100%;
  box-shadow: 3px 3px 4px $color-black-transparent;
  border-top: 2px solid $color-white;
}
