@mixin box() {
  background-color: $color-white-transparent;
  margin-bottom: $medium;
  padding-bottom: $medium;
  width: 100%;
  box-shadow: 3px 3px 4px $color-black-transparent;
  border-top: 2px solid $color-white;

  @media screen and (min-width: $desktop) {
    font-size: 1.2rem;
    border-top: 1px solid $color-white;
  }
}
